.Form {
    text-align: center;
    border: 1px solid black;
    margin: 2% 10%;
    border-radius: 10px;
    padding: 1%;
    background-color: rgb(217, 217, 223);
}

.Address {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LabelBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px;
}

.Inputs {
    margin: 5px;
    width: 300px;
    height: 30px;
}

.AddressMargin {
    margin-bottom: 4px;
}

.ButtonAlign {
    display: flex;
    justify-content: center;
}

.ButtonOrder {
    border-radius: 10px;
    height: 5vh;
    background-color: #da4a54;
    color: #f1f4f6;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid #f1f4f6;
    width: 300px;
    margin: 1%;
    transition: 0.5s;
}

.ButtonOrder:hover{
    background-color: #f1f4f6;
    border: #da4a54 1px solid;
    color: #da4a54;
}

.ButtonSA {
    background-color: #da4a54;
}

.TextOrder {
    text-align: center;
    width: 100%;
    border: none;
}

.hidden{
    display: none;
}

.visible{
    display: block;
}

.ErrorMessage {
    font-weight: bold;
    color: #da4a54;
}

.SpinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
}

.Spinner {
    border: 4px solid rgba(0, 0, 0, .1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #da4a54;

    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}